<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Job Search</h1>

    <!-- 웹에서 데이터 보내기 위한 폼 
    '/report' URL 에서 쿼리 argumnet인 ?word=검색어' 로 사이트를 이동시킨다-->
    <form action="/report" method="get">
        <input name="word" placeholder="What job do you want?" >
        <button>Search</button>
    </form>
    
</body>
</html>